/* Container principal */
.running-group-container {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  text-align: center;
}

.title-red,
.footer-red {
  color: #e91e63;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Section des profils */
.profile-section {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 30px;
  flex-wrap: wrap;

  height: 10rem;
  width: 70%;
  margin: 0 auto 30px;
  border: 2px solid #e0e0e0; /* Ajout d'une bordure simple */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Effet de flou autour de la bordure */
  border-radius: 10px; /* Coins arrondis pour un meilleur rendu */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-name {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  font-weight: bold;
}

.add-profile .add-button {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* Section des messages */
.chat-box {
  background-color: #2b2b2b;
  border-radius: 10px;
  color: white;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto 30px;
  text-align: left;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-content {
  display: flex;
  flex-direction: column;
}

.chat-name {
  color: #e91e63;
  font-weight: bold;
  font-size: 14px;
}

.chat-text {
  font-size: 12px;
  color: #ddd;
  margin: 3px 0 0;
}
