/* Conteneur principal */
.courseContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: #f8f9fa;
}

.courseImage {
  width: 100%;
}
/* Section de l'image du cours (en pleine largeur) */
.courseImage img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

/* Section du titre */
.courseTitle {
  text-align: center;
  margin-top: 2rem;
}

.courseTitle h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.courseTitle p {
  font-size: 1.2rem;
  color: #777;
}

/* Section de la description du cours */
.courseDescription {
  width: 100%;
  margin-top: 2rem;
}

.courseDescription img {
  width: 50%;
  height: 300px;
  border-radius: 10px;
}

/* Media Queries pour rendre la page responsive */
@media (max-width: 768px) {
  .courseTitle h1 {
    font-size: 1.8rem; /* Réduit la taille du titre sur les petits écrans */
  }

  .courseTitle p {
    font-size: 1rem; /* Réduit la taille de la description sur les petits écrans */
  }
}
