.notification-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(121, 115, 115);
}

.text-content {
  flex: 1;
  padding-right: 2rem;
}

.text-content h2 {
  color: #d72638;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.phone-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .notification-section {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  .image-content {
    width: 100%;
  }
}
