.map-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  padding: 1.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  max-width: 50%;
}

.map-section {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.map-section img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Ne change la disposition qu'en mobile */
@media (max-width: 768px) {
  .map-section-container {
    flex-direction: column;
    padding: 1rem;
  }

  .text-section,
  .map-section {
    max-width: 100%;
    text-align: center;
  }
}
