.notification-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 1rem auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.text-content {
  flex: 1;
  padding: 1rem;
  max-width: 50%;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.image-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Ne change la disposition qu'en mobile */
@media (max-width: 768px) {
  .notification-section {
    flex-direction: column;
    padding: 1rem;
  }

  .text-content,
  .image-content {
    max-width: 100%;
    text-align: center;
  }

  .image-content img {
    max-width: 400px;
  }
}
