/* Conteneur principal */
.page-container {
  background-color: #f8f9fa; /* bg-light */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url("/assets/img1.jpg"); /* Remplacer par le chemin de votre image */
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */

  /* Pleine hauteur */
}

.row-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap; /* Permet aux éléments de s'ajuster sur de petits écrans */
}

.image-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 100%;
}
.aligned-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 30px;
}

.text-section {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
}

.image-section img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.aligned-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-bottom: 62px;
}

.text-section,
.image-section {
  flex: 1;
  text-align: center;
}

.image-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Image wrapper */
.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.phone-image {
  width: 100%;
  max-width: 800px;
  height: 600px;
  transition: 0.6s ease;
}

.map-image {
  width: 140%;
  max-width: 210px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%); /* Rotation inverse */
  border-radius: 30px;
  transition: transform 0.6s ease; /* Animation fluide */
}

/* Colonne de droite : texte et bouton */
.text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%; /* Assurer que la colonne prenne toute la largeur */
}

.title1 {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: white;
}

/* Bouton */
.action-button {
  background-color: #dc3545;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #5a6268;
}
@media (max-width: 824px) {
  phone-image {
    width: 20%;
    max-width: 400px;
    margin-bottom: 1rem;
  }

  .map-image {
    width: 35%;
    max-width: 170px;
    height: 80%;
    transform: translate(-80%, -50%) rotate3d(1, 1, 0, -10deg);
  }
}

@media (max-width: 768px) {
  .page-container {
    height: 800px;
    padding: 1rem;
  }

  .row-container {
    flex-direction: column;
  }

  .image-column {
    height: auto;
    width: 100%;
  }

  .phone-image {
    width: 80%;
    max-width: 400px;
    margin-bottom: 1rem;
  }

  .map-image {
    width: 35%;
    max-width: 160px;
    height: 80%;
    transform: translate(-80%, -50%) rotate3d(1, 1, 0, -10deg);
  }

  .text-column {
    padding: 1rem;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
  }
}
